<h2>Register</h2>
<form [formGroup]="form" (ngSubmit)="onRegister()">
  <div>
    <label for="username">{{ usernameLabel}}</label>
    <input id="username" type="text" formControlName="username" />
  </div>
  <div>
    <label for="email">{{ emailLabel }}</label>
    <input id="email" type="email" formControlName="email" />
  </div>
  <div formGroupName="passwords">
    <div>
      <label for="password">{{ passwordLabel }}</label>
      <input id="password" type="password" formControlName="password" />
    </div>
    <div>
      <label for="confirm-password">{{ confirmPasswordLabel }}</label>
      <input
        id="confirm-password"
        type="password"
        formControlName="confirmPassword"
      />
    </div>
  </div>

    @if(!form.touched && !form.dirty) {
        <div style="width: fit-content" [matTooltip]="tooltipUsernameRequired" [matTooltipPosition]="'right'">
            <button [disabled]="form.invalid">Register</button>
        </div>
    }

    @if(form.invalid && (form.touched || form.dirty)) {
        @if(form.controls.username.errors?.['required']) {
            <div style="width: fit-content" [matTooltip]="tooltipUsernameRequired" [matTooltipPosition]="'right'">
                <button [disabled]="form.invalid">Register</button>
            </div>
        }

        @if(form.controls.email.errors?.['required']) {
            <div style="width: fit-content" [matTooltip]="tooltipEmailRequired" [matTooltipPosition]="'right'">
                <button [disabled]="form.invalid">Register</button>
            </div>
        }

        @if(form.controls.email.errors?.['email']) {
            <div style="width: fit-content" [matTooltip]="tooltipEmailNotValid" [matTooltipPosition]="'right'">
                <button [disabled]="form.invalid">Register</button>
            </div>
        }
        
        @if(form.controls.passwords.controls.password.errors?.['required']) {
            <div style="width: fit-content" [matTooltip]="tooltipPasswordRequired" [matTooltipPosition]="'right'">
                <button [disabled]="form.invalid">Register</button>
            </div>
        }
        
        @if(form.controls.passwords.controls.password.errors?.['minlength']) {
            <div style="width: fit-content" [matTooltip]="tooltipPasswordMinLength" [matTooltipPosition]="'right'">
                <button [disabled]="form.invalid">Register</button>
            </div>
        }
        
        @if(form.controls.passwords.controls.confirmPassword.errors?.['required']) {
            <div style="width: fit-content" [matTooltip]="tooltipPasswordRequired" [matTooltipPosition]="'right'">
                <button [disabled]="form.invalid">Register</button>
            </div>
        }
        
        @if(form.controls.passwords.errors?.['valuesNotEqual']) {
            <div style="width: fit-content" [matTooltip]="tooltipPasswordDoNotMatch" [matTooltipPosition]="'right'">
                <button [disabled]="form.invalid">Register</button>
            </div>
        }
    }

</form>
